<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <title>Title</title>
    <script src="../../js/tailwindcss-3.1.8.js"></script>
    <link type="text/css" href="../../styles/public.css" rel="stylesheet" />
  </head>
  <body class="text-xl bg-gray-100">
    <table class="table-auto border-collapse w-full">
      <thead>
        <tr class="bg-gray-800 text-white">
          <th class="px-4 py-2">技能</th>
          <th class="px-4 py-2">暴击伤害</th>
          <th class="px-4 py-2">非暴击伤害</th>
          <th class="px-4 py-2">期望伤害</th>
        </tr>
      </thead>
      <tbody>
      {% for item in damage_info %}
        <tr class="text-center">
          <td class="border px-4 py-2">{{ locale[item.skill_map.locale_index] }}</td>
          <td class="border px-4 py-2">{{ item.damage.normal.critical|round|int }}</td>
          <td class="border px-4 py-2">{{ item.damage.normal.non_critical|round|int }}</td>
          <td class="border px-4 py-2">{{ item.damage.normal.expectation|round|int }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </body>
</html>