<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>floor</title>
    <link type="text/css" href="./style.css" rel="stylesheet"/>
    <link type="text/css" href="../../styles/public.css" rel="stylesheet"/>
    <style>
        body {
            margin: 0;
            padding: 0;
        }


        .floors, .floor {
            border-radius: unset;
            margin: 0;
        }

        .floor-num > div:last-child {
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-content: center;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="floors">
        <div
                class="floor"
                style="
                        background-image: url('./background/floor{{ floor.floor }}.png');
                        background-color: {{ floor_colors[floor.floor] }};"
        >
            <div class="head">
                <div class="floor-name">
                    <div class="floor-num"></div>
                    <div>
                        <div>UID: {{ uid }}</div>
                        <div>深境螺旋第 {{ floor.floor }} 层</div>
                    </div>
                </div>
                <div class="star">
                    <span>{{ total_stars }}</span>
                </div>
            </div>
            {% for chamber in floor.chambers %}
                <div class="hr"></div>
                <div class="chamber">
                    <div class="chamber-info">
                        <div>
                            第 {{ chamber.chamber }} 间
                            <span style="color: #A3A3A3">{{ chamber.battles[0].timestamp }}</span>
                        </div>
                        <div class="stars">
                            {% for n in range(chamber.stars) %}
                                <div class="star"></div>
                            {% endfor %}
                            {% for n in range(chamber.max_stars - chamber.stars) %}
                                <div class="star dim-star"></div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="battles">
                        {% for battle in chamber.battles %}
                            <div class="battle">
                                {% for character in battle.characters %}
                                    <div class="character">
                                        {% if avatar_data[character.id] > 0 %}
                                            {% set constellation = avatar_data[character.id] %}
                                            {% set bg = ['blue','blue', 'green','green', 'red', 'red'][constellation - 1] %}
                                            <div style="background-color: var(--{{ bg }})">
                                                {{ constellation }} 命
                                            </div>
                                        {% endif %}
                                        <div class="element"
                                             style="background-image: url('../../img/element/{{ character.element }}.png')"></div>
                                        <div class="icon"
                                             style="background-image: url('../../background/rarity/half/{{ character.rarity }}.png')">
                                            <img src="{{ character.icon }}" alt=""/>
                                        </div>
                                        <div class="caption">Lv.{{ character.level }}</div>
                                    </div>
                                {% endfor %}
                                {% if loop.length > 1 %}
                                    <div class="battle-info">{{ ['上', '下'][battle.half - 1] }}半</div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
</body>
</html>