:root {
    --white: rgb(246 248 249);
    --bg-color: rgb(233 229 220);
    --h-color: rgb(203 189 162);
}

body {
    margin: 0;
    padding: 10px;
}

.hr {
    width: 100%;
    height: 3px;
    background-color: rgb(246 248 249 / 50%);
}

.container {
    width: 750px;
    position: relative;
    filter: drop-shadow(2px 2px 5px rgb(0 0 0 /70%));
}

.title {
    text-align: center;
    font-size: 27px;
    font-weight: bold;
    color: var(--h-color);
}

.caption {
    margin: 10px 0;
    color: var(--h-color);
    font-size: 20px;
}

/* 概览 */

.overview {
    height: 540px;
    padding: 20px 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(to top, rgb(0 0 0 / 10%), rgb(0 0 0 / 10%)), url("./background/lookback-bg.png");
    background-attachment: local;
    border-radius: 15px;
    overflow: hidden;
}

.summarize {
    font-size: 20px;
    width: calc(100% - 90px);
    height: calc(100px - 20px);
    margin: 20px 0;
    padding: 10px 0 10px 80px;
    border-radius: 5px;
    border: 2px solid rgb(118 121 120 / 80%);
    outline: 4px solid rgb(74, 82, 101);
    background-color: rgb(74 82 101 / 60%);
    background-image: url("./background/banner 01.png"), url("./background/banner 02.png");
    background-repeat: no-repeat, no-repeat;
    background-position: right, left;
    background-size: auto 100%, auto 100%;
    backdrop-filter: blur(5px);
}

.summarize > div {
    width: 100%;
    height: 50%;
    color: var(--white);
    display: flex;
    align-items: center;
}

.summarize > div > div {
    flex: 1;
}

.star {
    display: inline-flex;
    align-items: center;
}

.star::before {
    content: "";
    width: 40px;
    height: 40px;
    background-size: cover;
    background-image: url("./background/star.png");
}

.star > span {
    margin-left: 10px;
}

.most-played {
    width: 100%;
    margin: 30px 0;
}

.characters {
    width: calc(100% - 60px);
    padding: 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.character {
    width: 100px;
    height: 125px;
    margin: 0 20px;
    background-color: rgb(233 229 220);
    overflow: hidden;
    border-radius: 8px;
    position: relative;
}

.icon {
    width: 100%;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    border-radius: 0 0 20px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.icon > img {
    width: inherit;
    height: inherit;
}

.character > .caption {
    font-size: 18px;
    margin: 4px 0 0;
    padding: 0;
    height: min-content;
    text-align: center;
    color: black;
}

.four-star {
    width: 15px;
    height: 15px;
    position: relative;
}

.four-star::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: inherit;
    height: inherit;
    background-position: center;
    background-image: url("./background/four-star.png");
    background-blend-mode: lighten;
    background-size: contain;
}

.ranks {
    width: calc(100% + 80px);
    transform: translateX(-40px);
    color: var(--white);
    position: relative;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
}

.ranks > div {
    font-size: 18px;
    width: 100%;
    height: 43px;
    display: flex;
    align-items: center;
}

.ranks > div > .rank:first-child {
    margin-right: 10px;
}

.rank {
    flex: 1;
    position: relative;
    display: flex;
    margin-left: 80px;
    margin-right: 60px;
}

.rank > img {
    width: 50px;
    position: absolute;
    right: 0;
    bottom: -5px;
}

/* 层数 */

.floors {
    margin-top: 20px;
}

.floor {
    width: calc(100% - 60px);
    height: 1200px;
    padding: 30px;
    border-radius: 20px;
    overflow: hidden;
    outline: rgb(233 229 220 / 30%) solid 3px;
    outline-offset: -7px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
}

.head {
    width: 100%;
    height: 125px;
    display: flex;
}

.floor-name {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: var(--white);
}

.floor-name > span {
    font-size: 25px;
    margin-left: 15px;
}

.floor-num {
    font-size: 28px;
    color: black;
    width: 100px;
    height: 100px;
    background-image: url("./background/floor-num.png");
    background-size: contain;
    position: relative;
}

.floor-num > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.head > .star {
    margin-left: auto;
    float: right;
    color: var(--white);
    font-size: 25px;
}

.head > .star::before {
    width: 50px;
    height: 50px;
}

.chamber {
    margin: 10px 0;
    height: 300px;
    background-color: #28384D;
}

.chamber-info {
    height: 100px;
    background-color: #462E22;
}