# debug 开关
DEBUG=false

# MySQL
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USERNAME=user
DB_PASSWORD="password"
DB_DATABASE=paimon

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0

# 联系 https://t.me/BotFather 使用 /newbot 命令创建机器人并获取 token
BOT_TOKEN="xxxxxxx"

# 记录错误并发送消息通知开发人员 可选配置项
ERROR_NOTIFICATION_CHAT_ID=chat_id

# 文章推送群组 可选配置项
CHANNELS=[{ "name": "", "chat_id": 1}]

# bot 管理员
ADMINS=[{ "username": "", "user_id": -1 }]

# 群验证功能 可选配置项
VERIFY_GROUPS=[]

# logger 配置
LOGGER_WIDTH=180
LOGGER_LOG_PATH="logs"
LOGGER_TIME_FORMAT="[%Y-%m-%d %X]"
LOGGER_TRACEBACK_MAX_FRAMES=20
LOGGER_RENDER_KEYWORDS=["BOT"]

# mtp 客户端 可选配置项
API_ID=12345
API_HASH="abcdefg"

# ENKA_NETWORK_API 可选配置项
ENKA_NETWORK_API_AGENT=""