[tool.poetry]
name = "tgpaimonbot"
version = "0.3.0"
description = "Telegarm robot, query the official genshin information."
authors = ["洛水居室", "zhxy-CN", "Chuangbo Li", "kotoriのねこ", "omg-xtao", "艾迪", "Karako", "SiHuaN"]
license = "AGPL-3.0"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.8"
httpx= "^0.23.3"
ujson = "^5.6.0"
genshin = { git = "https://github.com/thesadru/genshin.py" }
Jinja2 = "^3.1.2"
python-telegram-bot = { version = "^20.0", extras = ["ext", "rate-limiter"] }
Pillow = "^9.4.0"
sqlmodel = "^0.0.8"
colorlog = "^6.7.0"
playwright = "^1.26.0"
fakeredis = "^2.2.0"
beautifulsoup4 = "^4.11.1"
asyncmy = "0.2.7rc6"
pyppeteer = "^1.0.2"
aiofiles = "^22.1.0"
python-dotenv = "^0.21.0"
alembic = "^1.9.0"
black = "^22.12.0"
rich = "^13.0.0"
enkanetwork-py = { git = "https://github.com/mrwan200/EnkaNetwork.py" }
TgCrypto = { version = "^1.2.5", optional = true }
Pyrogram = { version = "^2.0.70", optional = true }
pytest = { version = "^7.2.0", optional = true }
pytest-asyncio = { version = "^0.20.3", optional = true }
flaky = { version = "^3.7.0", optional = true }
lxml = "^4.9.2"
arko-wrapper = "^0.2.5"
fastapi = "^0.88.0"
uvicorn = {extras = ["standard"], version = "^0.19.0"}
sentry-sdk = "^1.15.0"
GitPython = "^3.1.30"
openpyxl = "^3.0.10"
async-lru = "^1.0.3"
thefuzz = "^0.19.0"
qrcode = "^7.3.1"
cryptography = "^39.0.1"

[tool.poetry.extras]
pyro = ["Pyrogram", "TgCrypto"]
test = ["pytest", "pytest-asyncio", "flaky"]
all = ["pytest", "pytest-asyncio", "flaky", "Pyrogram", "TgCrypto"]

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

# pytest配置
[tool.pytest.ini_options]
asyncio_mode = "auto"
log_cli = true
log_cli_level = "INFO"
log_cli_format = "%(message)s"
log_cli_date_format = "%Y-%m-%d %H:%M:%S"

# 格式配置
[tool.black]
include = '\.pyi?$'
line-length = 120
target-version = ['py38', 'py39', 'py310']
