[tool.poetry]
name = "tgpaimonbot"
version = "0.3.0"
description = "Telegarm robot, query the official genshin information."
authors = ["洛水居室", "zhxy-CN", "Chuangbo Li", "kotoriのねこ", "omg-xtao", "艾迪", "Karako"]
license = "AGPL-3.0"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.8"
ujson = "^5.4.0"
genshin = { git = "https://github.com/thesadru/genshin.py" }
Jinja2 = "^3.1.2"
numpy = "^1.23.2"
python-telegram-bot = { version = "^20.0a4", extras = ["rate-limiter"] }
Pillow = "^9.2.0"
sqlmodel = "^0.0.8"
colorlog = "^6.7.0"
playwright = "^1.25.2"
fakeredis = "^1.9.0"
beautifulsoup4 = "^4.11.1"
asyncmy = "^0.2.5"
pyppeteer = "^1.0.2"
aiofiles = "^22.1.0"
python-dotenv = "^0.21.0"
PyMySQL = "^1.0.2"
alembic = "^1.8.1"
black = "^22.8.0"
rich = "^12.5.1"
enkanetwork-py = { git = "https://github.com/mrwan200/EnkaNetwork.py" }
TgCrypto = { version = "^1.2.3", optional = true }
Pyrogram = { version = "^2.0.51", optional = true }
pytest = { version = "^7.1.3", optional = true }
pytest-asyncio = { version = "^0.19.0", optional = true }
flaky = { version = "^3.7.0", optional = true }
lxml = "^4.9.1"

[tool.poetry.extras]
pyro = ["Pyrogram", "TgCrypto"]
test = ["pytest", "pytest-asyncio", "flaky"]

[tool.pytest.ini_options]
asyncio_mode = "auto"
log_cli = true
log_cli_level = "INFO"
log_cli_format = "%(message)s"
log_cli_date_format = "%Y-%m-%d %H:%M:%S"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
