redis>=4.3.3
ujson>=5.3.0
genshin>=1.2.1
aiomysql>=0.1.1
colorlog~=6.6.0
numpy~=1.22.3
httpx==0.23.0
asyncio>=3.4.3
jinja2>=3.1.2
aiofiles>=0.8.0
playwright==1.22.0
pymysql>=0.9.3
beautifulsoup4>=4.11.1
pyppeteer~=1.0.2
lxml>=4.9.0
fakeredis>=1.8.1
aiohttp<=3.8.1
python-telegram-bot==20.0a2