body {
    background-color: #f5f6fb;
}

.page-container {
    border: 1px solid #e0dad3;
    background-color: #f0ece8;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
}

.base-weapon-info {
}

.base-weapon-info-type {
}

.stat-progression-1 {
}

.base-weapon-info-source {
    overflow: hidden;
    border: 4px solid #e0dad3;
}

.base-weapon-info-source-img {

}

.stat-progression-2 {
}

.ascension-materials {
}

.special-ability {
}

.ascension-materials-info {
    overflow: hidden;
    border: 1px solid #e0dad3;
}
