<!DOCTYPE html>
<html lang="zh-ch">
<head>
    <meta charset="UTF-8">
    <title>abyss</title>
    <link type="text/css" href="../../styles/tailwind.min.css" rel="stylesheet">
    <link type="text/css" href="../../styles/public.css" rel="stylesheet">
    <style>
        #container {
            width: 865px;
            height: 504px;
            background: url("./../abyss/background/lookback-bg.png");
            background-size: cover;
        }

        .character-icon {
            width: 128px;
            height: 128px;
        }

        .character-side-icon {
            width: 32px;
            height: 32px;
        }
    </style>
</head>
<body>
<div class="mx-auto flex flex-col h-full bg-no-repeat bg-cover" id="container">
    <div class="title text-2xl my-4 text-yellow-500 mx-auto">深境螺旋 - 推荐配队</div>
    <div class="base-info flex flex-col px-20 py-1 text-black my-1">
        <div class="text-center mr-auto text-yellow-500">第 12 层上半</div>
        <div class="mx-auto flex my-2">
            {% for i in up %}
            <div class="rounded-lg mx-2 overflow-hidden" style="background-color: rgb(233, 229, 220)">
                <div class="character-icon rounded-br-3xl bg-cover overflow-hidden"
                     style="background: url({{i.background}});background-size: cover;">
                    <img src="{{i.icon}}" alt=""></div>
                <div class="text-center">{{i.name}}</div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="base-info flex flex-col px-20 py-1 text-black my-1">
        <div class="text-center mr-auto text-yellow-500">第 12 层下半</div>
        <div class="mx-auto flex my-2">
            {% for i in down %}
            <div class="rounded-lg mx-2 overflow-hidden" style="background-color: rgb(233, 229, 220)">
                <div class="character-icon rounded-br-3xl bg-cover overflow-hidden"
                     style="background: url({{i.background}});background-size: cover;">
                    <img src="{{i.icon}}" alt=""></div>
                <div class="text-center">{{i.name}}</div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="my-2"></div>
</div>
</body>
</html>