<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <link rel="shortcut icon" href="#"/>
    <link rel="stylesheet" type="text/css" href="gacha_count.css"/>
    <link rel="preload" href="./../../fonts/汉仪文黑-85W.ttf" as="font">
    <link rel="preload" href="./../../fonts/tttgbnumber.ttf" as="font">
    <link rel="preload" href="./../abyss/background/roleStarBg5.png" as="image">
    <link rel="preload" href="./../abyss/background/roleStarBg4.png" as="image">
    <style>
        .head_box {
            background-position-x: 42px;
            background: #fff url(./../gachaLog/img/提纳里.png) no-repeat;
            background-size: auto 101%;
        }
    </style>
    <title></title>
</head>
<body id="container" class="body_box">
<div class="container">
    <div class="head_box">
        <div class="id_text">ID: {{uid}}</div>
        <h2 class="day_text">抽卡统计-{{typeName}}</h2>
        <img class="genshin_logo" src="./../../bot/help/background/genshin.png" alt=""/>
    </div>
    {% for val in pool %}
    <div class="pool_box">
        <div class="title_box">
            <div class="name_box">
                <div class="title"><h2>「{{val.name}}」</h2></div>
                <span class="label label_301">{{val.count}}抽</span>
            </div>
            {% if typeName != "常驻祈愿" %}
            <span class="date">{{val.start}} - {{val.end}}</span>
            {% endif %}
        </div>
        <div class="list_box">
            {% for v in val.list %}
            <div class="item">
                <div class="bg{{v.rank_type}}"></div>
                <span class="num {% if v.count>=5 and v.rank_type == 5 %}life5{% endif %}">{{v.count}}</span>
                <img class="role_img" src="{{ v.icon }}" alt=""/>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
    {% if hasMore %}
    <div class="hasMore">*完整数据请私聊查看</div>
    {% endif %}
    <div class="logo">Template By Yunzai-Bot</div>
</div>
</body>
<script type="text/javascript">
    function whenError(a, type) {
        // a.onerror = null;
        // if (type == "role") {
        //   a.src = "{{_res_path}}/genshin/logo/role/荧.png";
        // } else {
        //   a.src = "{{_res_path}}/genshin/logo/weapon/旅行剑.png";
        // }
    }
</script>
</html>
