<div class="bg-grey-500 flex h-auto w-full flex-col items-center justify-center">
      <div class="flex flex-col items-center justify-center">
        <span class="text-xl text-yellow-400">{{ script_key }}</span>
      </div>
      <div class="flex flex-col items-center justify-center">
        <span class="mt-2 text-7xl font-bold text-yellow-400">{{ statistics.dps.mean | int }}</span>
      </div>
    </div>