{
  "mysql": {
    "host": "127.0.0.1",
    "port": 3306,
    "user": "",
    "pass": "",
    "database": ""
  },
  "redis": {
    "host": "127.0.0.1",
    "port": 6379,
    "database": 0
  },
  "telegram": {
    "token": "",
    "notice": {
      "INFO": {
        "name": "",
        "char_id":
      },
      "ERROR": {
        "name": "",
        "char_id":
      }
    },
    "channel": {
      "POST": {
        "name": "",
        "char_id":
      }
    }
    }
  "administrators":
    [
      {
        "username": "",
        "userid":
      }
    ]
}
