<table class="table-auto border-collapse w-full bg-black bg-opacity-20 rounded-lg">
    <thead>
    <tr class="bg-black bg-opacity-20">
        <th class="px-4 py-2">技能</th>
        <th class="px-4 py-2">暴击伤害</th>
        <th class="px-4 py-2">期望伤害</th>
    </tr>
    </thead>
    <tbody>
    {% for item in damage_info %}
        <tr class="text-center odd:bg-white odd:bg-opacity-10">
            <td class="border px-4 py-2">{{ item.skill_info.name }}</td>
            {%- if item.damage != None -%}
                {%- if item.damage.is_heal or item.damage.is_shield -%}
                    <td class="border px-4 py-2 " colspan="2">{{ item.damage.expectation|round|int }}</td>
                {%- else -%}
                    <td class="border px-4 py-2">{{ item.damage.critical|round|int }}</td>
                    <td class="border px-4 py-2">{{ item.damage.expectation|round|int }}</td>
                {%- endif -%}
            {%- elif item.transformative_damage != None -%}
                <td class="border px-4 py-2 " colspan="2">{{ item.transformative_damage|round|int }}</td>
            {%- else -%}
                <td class="border px-4 py-2" colspan="2"></td>
            {%- endif -%}
        </tr>
    {% endfor %}
    </tbody>
</table>
