@font-face {
    font-family: "seguiemj";
    src: url("../fonts/seguiemj.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "hywh";
    src: url("../fonts/汉仪文黑-85W.ttf");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "hywh", "seguiemj", emoji;
}