@font-face {
    font-family: "seguiemj";
    src: url("../fonts/seguiemj.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "hywh";
    src: url("../fonts/汉仪文黑-85W.ttf");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "hywh", "seguiemj", emoji, system-ui;
}

.color-pyro {
    color: #F09E9B;
}
.color-hydro {
    color: #8EBEF9;
}
.color-anemo {
    color: #A0FCD9;
}
.color-electro {
    color: #F2AFFA;
}
.color-dendro {
    color: #99FD88;
}
.color-cryo {
    color: #B1FCFD;
}
.color-geo {
    color: #FCE699;
}