@font-face {
    font-family: "seguiemj";
    src: url("../fonts/seguiemj.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HYWH";
    src: url("../fonts/HYWenHei-35W.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "HYWH";
    src: url("../fonts/HYWenHei-45W.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "HYWH";
    src: url("../fonts/HYWenHei-55W.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "HYWH";
    src: url("../fonts/HYWenHei-65W.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "HYWH";
    src: url("../fonts/HYWenHei-75W.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "HYWH";
    src: url("../fonts/HYWenHei-85W.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Number";
    src: url("../fonts/tttgbnumber.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Number", "HYWH", "seguiemj", emoji, serif, system-ui;
}
