body {
    background-color: rgba(253, 253, 253, .75)
}

#container {
    max-width: 768px;
}

.info {
    background: url(background/2020021114213984258.png) no-repeat center;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
    background-size: 780px 120px;
}

.command-title {
    text-align: center;
    line-height: 40px;
    border: 1px solid #e0dad3;
}

.command-title h1 {
    margin: 2px;
    background-color: #e0dad3;
}

.command {
    flex: 1 1 0;
    border-radius: 0.75rem;
    padding: 5px;
    margin: 10px;
    background: #f5f5f5;
    border: 1px solid #e0dad3;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);

}

.command i {
    margin-left: 0.5rem;
}

.base-command {
    border: 1px solid #e0dad3;
    background-color: #f0ece8;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
}


.command-background {
    opacity: 0.1;
    z-index: -1;
}

.command-background img {
    margin-left: 400px;
    margin-top: -10px;
    position: absolute;
}

.genshin-background {
    opacity: 0.3;
    z-index: -1;
}

.genshin-background img {
    margin-left: 150px;
    margin-top: 100px;
    position: absolute;
}

.command-name {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin: 4px;
}

.command-description {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 4px;
}

.about {
    text-align: center;
    line-height: 40px;
    border: 1px solid #e0dad3;
}

.about h1 {
    margin: 2px;
    background-color: #e0dad3;
}
