<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <link rel="shortcut icon" href="#"/>
    <link rel="stylesheet" type="text/css" href="wish_log.css"/>
    <link rel="preload" href="./../../fonts/tttgbnumber.ttf" as="font">
    <link rel="preload" href="./../abyss/background/roleStarBg5.png" as="image">
    <link rel="preload" href="./../abyss/background/roleStarBg4.png" as="image">
    <style>
        .head_box {
            background: #fff url('{{ name_card }}') no-repeat right center;
            background-size: cover;
        }
    </style>
    <title></title>
</head>
<body id="container" class="body_box">
<div class="container">
    <div class="info_box">

        <div class="head_box">
            <div class="id_text">
                未复刻列表
            </div>
            <h2 class="day_text">
                <span class="label label_302">角色池</span>
            </h2>
            <img class="genshin_logo" src="./../../bot/help/background/genshin.png" alt=""/>
        </div>

        <div class="data_box">
            <div class="line_box">
                <span class="line"></span>
                <span class="text">五星列表</span>
                <span class="line"></span>
            </div>

            <div class="card_list">
                {% for val in fiveLog %}
                    {% set d = fiveData[val] %}
                    <div class="item star5">
                        {% if d.last_up_day == 0 %}
                            <span class="minimum">UP</span>
                        {% endif %}
                        <img class="role" src="{{ d.icon }}" alt=""/>
                        <div class="num_name">{{ d.last_up_day }}</div>
                    </div>
                {% endfor %}
            </div>

            <div class="line_box">
                <span class="line"></span>
                <span class="text">四星列表</span>
                <span class="line"></span>
            </div>

            <div class="card_list">
                {% for val in fourLog %}
                    {% set d = fourData[val] %}
                    <div class="item star4">
                        {% if d.last_up_day == 0 %}
                            <span class="minimum">UP</span>
                        {% endif %}
                        <img class="role" src="{{ d.icon }}" alt=""/>
                        <div class="num_name">{{ d.last_up_day }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="logo">Inspired By Miao-Plugin & Generated By PaiGram</div>
    </div>
</div>
</body>
</html>